/* Obecný styl pro celou stránku */
body {
  color: #FBFADA; /* Hlavní barva textu */
  background-color: #ADBC9F; /* Barva pozadí */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styl pro header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí s černou barvou a průhledností */
  z-index: 100;
}

header.hide {
  top: -80px; /* výška headeru */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav a {
  color: #FBFADA; /* Barva odkazů */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav .logo {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav li a {
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  color: #436850; /* Barva odkazů po najetí myší */
}

/* Media query pro responsivní design */
@media screen and (max-width: 1080px) {
  nav ul {
    display: none; /* Skryje menu v pásu */
    position: absolute;
    top: 80px; /* Výška headeru */
    background-color: #12372A; /* Barva menu */
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    color: #FBFADA; /* Barva odkazů */
  }
}

/* CSS pro ikonu menu */
.menu-icon {
  display: none; /* Na začátku skrytá */
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  z-index: 101; /* Vyšší než z-index navigace */
  color: #FBFADA; /* Barva ikony menu */
}

/* Media query pro obrazovky s šířkou menší než 1080px */
@media (max-width: 1080px) {
  .menu-icon {
    display: block; /* Zobrazení ikony menu */
  }
}

/* CSS pro zobrazení navigace */
nav.show {
  display: block;
}

/* Styl pro sekci "hero" */
.hero {
  position: relative;
  background-image: url("https://xeon.spskladno.cz/~housaj/weby/Web-novinky/Obr%c3%a1zky/strom.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .uvodni-text {
  position: relative;
  z-index: 1; 
  color: white;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 56px;
  margin-bottom: 20px;
  color: #FBFADA; /* Barva nadpisu */
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #FBFADA; /* Barva textu */
}

.hero .btn {
  display: inline-block;
  background-color: #12372A; /* Barva tlačítka */
  color: #FBFADA; /* Barva textu na tlačítku */
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.hero .btn:hover {
  background-color: #436850; /* Barva tlačítka po najetí myší */
}

.image-container {
  position: relative;
  width: 100%;
  display: block;
  opacity: 0.5;
  margin-right: 2%;
}

.uvodni-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FBFADA; /* Barva textu */
}

/* Styl pro sekci "jak to funguje" */
.about {
  padding: 180px 0;
  text-align: center;
  margin-top: 15%;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #436850; /* Barva nadpisu */
}

.about p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #FBFADA; /* Barva textu */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex-basis: 50%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.col h3 {
  font-size: 29px;
  margin-bottom: 20px;
}

/* Styl pro sekci "Co nabízíme" */
.services {
  padding: 20px 0;
  text-align: center;
}

.services h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #436850; /* Barva nadpisu */
}

.services .row {
  margin-top: 40px;
}

.services .col {
  flex-basis: 33.33%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.services .col h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.services .col p {
  font-size: 18px;
  line-height: 1.5;
}

/* Styl pro sekci "Připojte se k nám" */
.cta {
  padding: 150px 0 300px; /* Přidání ještě většího dolního odstupu */
  text-align: center;
}

.cta h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #436850; /* Barva nadpisu */
}

.cta .btn {
  font-size: 24px;
  padding: 12px 30px;
  display: inline-block;
  background-color: #12372A; /* Barva tlačítka */
  color: #FBFADA; /* Barva textu na tlačítku */
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.cta .btn:hover {
  background-color: #436850; /* Barva tlačítka po najetí myší */
}

/* Styl pro footer */
footer {
  position: relative; /* Přidejte relativní pozici pro footer */
  background-color: #12372A; /* Barva pozadí */
  color: #FBFADA; /* Barva textu */
  padding: 40px 0; /* Zvětšení horního a dolního odstupu */
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  list-style: none;
  display: flex;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav li a {
  color: #FBFADA; /* Barva odkazů */
  text-decoration: none;
}

.footer-text {
  margin-top: 20px;
  margin-left: auto; 
  margin-right: 10px; 
}

#arrow-up {
  position: absolute; /* Změna na absolutní pozici */
  bottom: 60px; /* Zvětšení odstupu od spodní hrany stránky */
  left: 20px; /* Ponechání nalevo */
  z-index: 1000;
  transition: opacity 0.4s;
}

#arrow-up img {
  width: 40px;
  height: 40px;
}

#arrow-up:hover {
  opacity: 0.7;
}



/* Media query pro šířku obrazovek menší než 768px */
@media screen and (max-width: 768px) {
  .col {
    flex-basis: 100%;
  }
}
